*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header{
    height: 150px;
    background-color: rgb(209, 71, 255);
    color: white;
}

footer{
    height: 80px;
    background-color:rgb(30, 30, 33);
    color: white;
}