*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header{
    height: 150px;
    background-color: rgb(209, 71, 255);
    color: white;
}

main{
    height: 80px;
    background-color:rgb(237, 100, 141);
    margin-top: 10px;
    padding: 5px 0 0 15px;
    color: #fff;
    }

footer{
    height: 80px;
    background-color:rgb(30, 30, 33);
    color: white;
    margin-top: 10px;
    
}

